if type mise >/dev/null 2>&1; then
  echo "use mise to manage your environment"
elif type nix >/dev/null 2>&1; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
  fi

  use flake path:$(pwd)/.nix/ --impure
elif has use_asdf; then
  # Make sure you have `legacy_version_file=yes` in your `.asdfrc` file
  # https://asdf-vm.com/manage/configuration.html#legacy-version-file

  export ASDF_NODEJS_LEGACY_FILE_DYNAMIC_STRATEGY="latest_installed"
  use asdf
elif [ -f "$HOME/.nvm/nvm.sh" ]; then
  type nvm >/dev/null 2>&1 || . "$HOME/.nvm/nvm.sh"
  nvm use $(< .nvmrc)
else
  echo "No node version manager found! Good luck on your own!"
  exit 1
fi

layout node
dotenv_if_exists
dotenv_if_exists .env.local
